In [38]:
# Leer datos desde una URL

In [39]:
import pandas as pd 
import os as os

In [42]:
mainpath="../datasets/"
medals_url="http://winterolympicsmedals.com/medals.csv"

In [43]:
medals_data=pd.read_csv(medals_url)

In [44]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
# Ejercicio con descarga de datos con urllib3

In [108]:
def downloadFromURL(url,filename,sep=",",delim="\n",encoding="utf-8",method="GET"):
    import csv as csv
    import urllib3 as urllib3
    http = urllib3.PoolManager()
    r = http.request(method,url)
    print("Estado de la respuesta es: "+str(r.status))
    print("Estado de la respuesta es: %d" %(r.status))
    response=r.data
    srt_data=response.decode(encoding)
    lines=srt_data.strip().split(delim)
    col_names=lines[0].split(sep)
    n_cols=len(col_names)

    counter=0
    main_dict={}
    for col in col_names:
        main_dict[col]=[]

    for line in lines:
        if(counter>0):
            values=line.strip().split(sep)
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter+=1
    print("El data set tiene %d filas y %d columnas"%(counter,n_cols))
    df=pd.DataFrame(main_dict)
    print(medals_df.head())
    mainpath="../datasets/athletes"
    fullpatch=os.path.join(mainpath,filename)
    df.to_csv(fullpatch+".csv")
    df.to_excel(mainpath+".xls")
    df.to_json(mainpath+".js")
    print("Los ficheros se han gurdado correctamente en:"+fullpatch)
    return df

In [109]:
medals_df=downloadFromURL(medals_url,"downloaded_medals")
medals_df.head()
bio

Estado de la respuesta es: 200
Estado de la respuesta es: 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han gurdado correctamente en:../datasets/athletes\downloaded_medals

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [69]:
outfile=mainpath+"/"+"customer-churn-model\Tab Medals Olympic Model.txt"
cr=csv.reader(response)

In [ ]:
## Ficheros XLS y XLSX

In [56]:
mainpath="../datasets/"
filename="titanic/titanic3.xls"
filename2="titanic/titanic3.xlsx"

In [54]:
titanic2=pd.read_excel(mainpath+"/"+filename,"titanic3")

In [57]:
titanic3=pd.read_excel(mainpath+"/"+filename2,"titanic3")

In [59]:
titanic3.to_csv(mainpath+"/titanic/titanic_custom.csv")
titanic3.to_excel(mainpath+"/titanic/titanic_custom.xls")
titanic3.to_json(mainpath+"/titanic/titanic_custom.js")